/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 0px; /* Adjust this value as needed */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

body {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 70px;
}
